{% extends "school_admin/base.html" %}
{% block content %}
<h1>👩‍🏫 Наші викладачі</h1>
<table>
    <tr><th>Ім'я</th><th>Опис</th>{% if user.is_staff %}<th>Дії</th>{% endif %}</tr>
    {% for t in teachers %}
    <tr>
        <td>{{ t.last_name }} {{ t.first_name }} {{ t.middle_name|default:"" }}</td>
        <td>{{ t.description }}</td>
        {% if user.is_staff %}
        <td>
            <a href="{% url 'edit_teacher' t.pk %}">✏️</a> | 
            <a href="{% url 'delete_teacher' t.pk %}" style="color:red;">🗑️</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}